doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Zac Scott

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Zac Scott
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Zac
                        span.text-primary Scott
                    .subheading.mb-5
                        | Software Engineering · Victoria University ·
                        a(href='mailto:contact@zaci.dev') contact@zaci.dev
                    p.lead.mb-5
                        | I am an engaged, creative and quirky third year BE(Hons) Software Engineer at VictoriaUniversity, with industry experience in cyber security and regression testing for web.I have a strong passion for problem solving, Linux and mechanical keyboards.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/scottza/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/scottzach1/')
                            i.fab.fa-github
                        a.social-icon(href='https://gitlab.ecs.vuw.ac.nz/scottzach1')
                            i.fab.fa-gitlab

            hr.m-0

            // Projects
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Linux Dotfiles
                            a(target='blank' href='https://github.com/scottzach1/dotfiles') github.com/scottzach1/dotfiles
                            br
                            br
                            p
                                | Configuration files for the different software I run on my personal Linux devices
                        .flex-shrink-0
                            span.text-primary April 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Regression Testing Suite
                            a(target='blank' href='https://www.edmi-meters.com/product/software/storm/') edmi-meters.com/product/software/storm
                            br
                            br
                            p
                                | Developing an automated regression test for a web application dealing with
                                | smart meters using Python, Selenium and Robot with TeamCity integration.
                        .flex-shrink-0
                            span.text-primary November 2019 - January 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Mechanical Keyboards
                            a(target='blank' href='https://github.com/scottzach1/Planck/') github.com/scottzach1/Planck
                            br
                            br
                            p
                                | One hobby of mine has been to develop the perfect keyboard layout to suite
                                | my needs using QMK Firmware.
                        .flex-shrink-0
                            span.text-primary December 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chap's Challenge
                            a(target='blank' href='https://github.com/scottzach1/Chaps-Challenge') github.com/scottzach1/Chaps-Challenge
                            br
                            br
                            p
                            | A SWEN225 group project developing a modern take on the iconic
                            | Chip’s Challenge using Java Swing.
                        .flex-shrink-0
                            span.text-primary September 2019 - October 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Movie Database
                            a(target='blank' href='https://github.com/scottzach1/Movie-Database') github.com/scottzach1/Movie-Database
                            br
                            br
                            p
                            | A movie database server written in C++ for NWEN241 where a user can request movie
                            | information via another shell instance using a TCP connection.
                        .flex-shrink-0
                            span.text-primary September 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Soles for Syria
                            a(target='blank' href='https://docs.google.com/document/d/1bFXqmABdFGYWnSHquNrv7jOvLFEIWWqiywkdiUCoXTM/edit') Google Drive link
                            br
                            br
                            p
                            | A Bootstrap CSS website written for NGO organisation Soles for Syria.
                        .flex-shrink-0
                            span.text-primary September 2019

                    p
                    | Many more projects can be seen at
                    a(target='blank' href='https://github.com/scottzach1/') github.com/scottzach1/
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Cyber Security Analyst
                            .subheading.mb-3 InPhySec
                            p
                                | Triaging detections and threat hunting across CrowdStrike Falcon and Netskope.
                                | As well as writing scripts to aid with software automation.
                        .flex-shrink-0
                            span.text-primary January 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Regression Tester
                            .subheading.mb-3 EDMI Ltd.
                            p
                                | Developing an automated regression testing suite for a web application using Python
                                | + Robot framework.
                        .flex-shrink-0
                            span.text-primary November 2019 - January 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engineering Computer Science (ECS) Tutor
                            .subheading.mb-3 Victoria University of Wellington
                            p
                                | Computer Science tutor for the courses
                                a(href='https://www.wgtn.ac.nz/courses/comp/112/2019') COMP112
                                | ,
                                a(href='https://www.wgtn.ac.nz/courses/comp/103/2019') COMP103
                                | , XMUT103 (Marking Only)
                        .flex-shrink-0
                            span.text-primary February 2020 - October 2020

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Victoria University of Wellington
                            .subheading.mb-3 BE(Hons) Bachelor of Engineering
                            div Software Engineering - Networked Applications
                            p Grade Average: A
                        .flex-shrink-0
                            span.text-primary 2018 - 2021

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Favourite Languages
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                    .subheading.mb-3 All Languages

                    table(style='width:100%')
                        tr
                            th Language
                            th Context
                            th Project
                        tr
                            td Python
                            td Industry
                            td Edmi Ltd., InPhySec.
                        tr
                            td Robot Framework
                            td Industry
                            td Edmi. Ltd.
                        tr
                            td Java
                            td University
                            td Chaps Challenge
                        tr
                            td C/C++
                            td University
                            td Movie Database, Planck
                        tr
                            td SQLite
                            td University
                            td
                                a(href='https://www.wgtn.ac.nz/courses/info/151/2019') INFO151
                        tr
                            td Bash/Fish
                            td Personal
                            td Dotfiles

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from software development, I also love to play with Linux. Researching into better
                        | programs and fiddling with my dotfiles. I also am a mechanical keyboard enthusiast, with a
                        | newfound love for small form factor and ortho-linear keyboards (
                        a(target='blank' href='https://github.com/scottzach1/Planck/') github.com/scottzach1/Planck
                        |).
                    p.mb-0
                        | I also am a big fan of the outdoors, when given the opportunity. I love to go hiking in the
                        | Tararua's and Ruahine's, as well as mountain biking at Makara and Polhill reserve.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications

                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | CCFR - Crowdstrike Certified Falcon Responder 2020
                            p CCFA - Crowdstrike Certified Falcon Administrator 2020
                                br
                                a(href='https://www.crowdstrike.com/endpoint-security-products/crowdstrike-university/crowdstrike-falcon-certification-program/') Crowdstrike Falcon certificate program.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Datacom Systems Scholarship in Computer Science 2019
                            p Victoria Scholarship and Internship offer.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Outward Bound NZ scholarship recipient 2016
                            p Mind Body Soul.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Aspire Program Candidate 2016
                            p Six rotated placements at TradeMe HQ Wellington.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Young Enterprise Scheme (YES) 2016
                            p NGO Charity event Soles for Syria. 1st Place Manawatu / Wanganui regional Dragons Den.

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
